<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ino.web.freeBoard.mapper.FreeBoardMapper">

	<select id="freeBoardGetList" resultType="int"> 
		SELECT COUNT(*) FROM BOARD
	</select>

	<select id="searchBoardGetList" parameterType="map" resultType="freeBoardDto">
		SELECT ORIGIN_NUM, NAME, TITLE, NEW_DAY FROM BOARD
		WHERE ${category}
		LIKE '%${searchText}%'
		ORDER BY ORIGIN_NUM
		DESC
	</select>
	
	<select id="searchBoardGetListCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM BOARD
		WHERE ${category}
		LIKE '%${searchText}%' AND NEW_DAY BETWEEN TO_DATE('${date}','YYYY-MM-DD')AND 
        TO_DATE('${date}','YYYY-MM-DD')+0.99999
	</select>
	
	<select id="BoardGetListPaging" parameterType="map" resultType="freeBoardDto">
		SELECT * FROM (
		SELECT A.*, ROW_NUMBER() OVER(ORDER BY origin_num DESC) AS NUM
		FROM BOARD A
		)
		WHERE NUM BETWEEN ${start} AND ${end}
	</select>
	
	<select id="searchBoardGetListPaging" parameterType="map" resultType="freeBoardDto">
		SELECT * FROM (
		SELECT A.*, ROW_NUMBER() OVER(ORDER BY origin_num DESC) AS NUM
		FROM BOARD A WHERE A.${category}
		LIKE '%${searchText}%'
		)
		WHERE NUM BETWEEN ${start} AND ${end} AND NEW_DAY BETWEEN TO_DATE('${date}','YYYY-MM-DD')AND 
        TO_DATE('${date}','YYYY-MM-DD')+0.99999
	</select>

	<insert id="freeBoardInsertPro" parameterType="freeBoardDto">
		INSERT INTO
		BOARD(ORIGIN_NUM, NAME, TITLE, CONTENT, NEW_DAY)
		VALUES(
		SEQUENCE.NEXTVAL, #{name}, #{title}, #{content} , sysdate)
	</insert>

	<select id="freeBoardDetailByNum" resultType="freeBoardDto" parameterType="int">
		SELECT ORIGIN_NUM, NAME, TITLE, CONTENT, NEW_DAY FROM
		BOARD
		WHERE ORIGIN_NUM=#{num}
	</select>
	
	<select id="searchCategoryList" resultType="hashmap">
		SELECT 
		A.CODE,A.DETAIL_CODE,A.DETAIL_CODE_NAME,A.USE_YN,A.ORDER_SEQ,A.DETAIL_CODE_NAME_EN 
		FROM DETAILTABLE A
		JOIN MASTERTABLE B
		ON A.CODE = B.CODE
		WHERE B.CODE_NAME = '검색조건' and A.USE_YN = 'Y'
	</select>
	
	<select id="yearSearchList" resultType="hashmap">
		SELECT 
   		A.DETAIL_CODE_NAME AS YEAR
		FROM DETAILTABLE A,
  		MASTERTABLE B
		WHERE A.CODE = B.CODE and B.CODE_NAME = '년도' and A.USE_YN = 'Y'
	</select>
	
	<select id="monthSearchList" resultType="hashmap">
		SELECT 
		A.DETAIL_CODE_NAME AS MONTH
		FROM DETAILTABLE A,
		MASTERTABLE B
		WHERE A.CODE = B.CODE and B.CODE_NAME = '월' and A.USE_YN = 'Y'
	</select>
	
	<select id="daySearchList" resultType="hashmap">
		SELECT 
		A.DETAIL_CODE_NAME AS DAY
		FROM DETAILTABLE A,
		MASTERTABLE B
		WHERE A.CODE = B.CODE and B.CODE_NAME = '일' and A.USE_YN = 'Y'
	</select>
	
	
	
	
	

<!-- 	<select id="freeBoardNewNum" resultType="int"> -->
<!-- 		SELECT MAX(ORIGIN_NUM) -->
<!-- 		FROM BOARD -->
<!-- 	</select> -->

	<update id="freeBoardModify" parameterType="freeBoardDto">
		UPDATE BOARD
		SET TITLE
		= #{title}
		, CONTENT = #{content}
		WHERE ORIGIN_NUM = #{origin_num}
	</update>

	<delete id="freeBoardDelete" parameterType="int">
		DELETE FROM BOARD
		WHERE ORIGIN_NUM
		= #{num}
	</delete>


</mapper>